/* Global Styles */
body {
	background-color: #f0e6d6;
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 0%;
  }
  li, li::marker {
	list-style-type: none;
  }
.popupContent {
	background-color: #E7C176;
	border-style: solid;
	border-color: #111;
	width: 175px;
}
.itenarary_item {
	margin-bottom: 15px;
	margin-left: 15px;
}
.filterTextbox{
	overflow: scroll;
}
.dropdown-buttons {
	display: none;
	position: absolute;
	z-index: 1;
}

.display {
	display: block;
}


#map {
	/* height: calc(100vh - 200); subtract the height of navigation bar and search bar from viewport height */
	height: 100%;
	width: 100%;
	grid-row: 1;
	border-radius: 10px;
	border-color: #E7C176;
	grid-column: 2;
	grid-row: 2;
  }
  
  #search {
	border-radius: 10px;
	width: 100%;
	/* height: 40px; */
	padding: 8px 16px;
  }
  .map{
	border-radius: 10px;
	border-color: #E7C176;
  }

.container {
	margin-top: 5px;
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	/* grid-row: 1 / -1; */
	height: calc(100vh - 200px);
	padding: 0px 25px;
}
  /* header{
	background-color: #E7C176;
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
}
  nav {
	height: 75px;
  } */
  .textbox {
	border-radius: 10px;
	margin-left: 20px;
	height: 100%;
	grid-column: 2;
	grid-row: 1;
	background-color: #E7C176;
	overflow-y: auto; /* add a scrollbar if the content overflows */
}
  /* nav ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
  }
  
  nav li {
	float: right;
  }
  
  nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: larger;
  }
  
  nav li a:hover {
	background-color: #111;
	border-radius: 10px;
  } */
  .container-map{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 8fr;
	min-height: 0;
  }
  h2{
	padding-left: 10px;
  }
  .container-heading{
	padding-top: 5px;
	display: flex;
	justify-content: space-between;
	padding-left: 1%;
	padding-right: 1%;
  }
  .heading-images{
	padding: 3px;
  }
  .search-container {
	margin: 3px;
	display: flex;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 20px;
	padding: 7px;
	grid-column: 1/-1;
	grid-row: 1;
  }
  
  .search-container input[type="text"] {
	border: none;
	outline: none;
	font-size: 16px;
	padding: 5px;
	flex: 1;
  }
  
  /* .search-container button[type="submit"] {
	background-color: #E7C176;
	color: #fff;
	border: none;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
	margin-left: 10px;
  }
  
  .search-container button[type="submit"]:hover {
	background-color: #9dbb9f;
  } */
  /* footer {
	background-color: #E7C176;
	color: #fff;
	padding: 10px ;
	margin-bottom: 0px;
  }
  
  .container-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: larger;
  }
  
  .footer-links {
	display: flex;
  }
  
  .footer-links a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .footer-links a:hover {
	background-color: #111;
	border-radius: 10px;
  }
  .header-logo{
	padding-top: 1%;
  } */
  .search-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 1%;
  }
  #select-button {
	background-color: #e8ba5c;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 8px;
  }
  
  #clear-button {
	background-color: #dc3545;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 8px;
  }
  .dropdown-buttons {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background-color: #fce0a8;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-top: 2% ;
  }
  
  .dropdown-buttons button {
	display: block;
	width: 100%;
	padding: 8px;
	background-color: #ad5e04;
	margin: 2%;
	border: none;
	text-align: left;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .dropdown-buttons button:hover {
	background-color: #363333;
  }
  
  .filterContainer:hover .dropdown-buttons {
	display: block;
  }
  /* Footer Styles */
#feet {
	background-color: #E7C176;
	color: #fff;
	padding: 10px;
	margin-bottom: 0%;
  }
  
  .container-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
  }
  
  .footer-links {
	display: flex;
  }
  
  .footer-links a {
	display: block;
	color: rgb(4, 2, 2);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	font-size: larger;
  }
  
  .footer-links a:hover {
	background-color: #e8ba5c;
	border-radius: 10px;
	transition: background-color 0.3s ease;
  }
  
  .footer-logo {
	display: flex;
	align-items: center;
	margin-right: 2%;
  }
  
  .footer-logo img {
	margin-right: 0px;
  }
  /* Header Styles */
header {
	background-color: #E7C176;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  nav {
	height: 75px;
  }
  
  nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
  }
  
  nav li {
	float: right;
  }
  
  nav li a {
	display: block;
	color: rgb(10, 8, 8);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bolder;
  }
  
  nav li a:hover {
	background-color: #e8ba5c;
	border-radius: 10px;
	transition: background-color 0.3s ease;
  }
  